absl-py==0.6.1
apiai==1.2.3
asn1crypto==0.24.0
astor==0.7.1
attrs==18.2.0
Automat==0.7.0
axel==0.0.7
backcall==0.1.0
beautifulsoup4==4.6.3
bleach==3.1.4
boto==2.49.0
boto3==1.9.37
botocore==1.12.37
bs4==0.0.1
bz2file==0.98
cachetools==2.1.0
certifi==2019.6.16
cffi==1.11.5
chardet==3.0.4
click==6.7
cloudpickle==0.6.1
coloredlogs==9.0
ConfigArgParse==0.14.0
constantly==15.1.0
cryptography==2.4.2
cryptography-vectors==2.3.1
cycler==0.10.0
cymem==2.0.2
Cython==0.28.5
cytoolz==0.9.0.1
de-core-news-sm==2.0.0
decorator==4.3.2
defusedxml==0.5.0
dgl==0.3
dialogflow==0.5.1
dialogflow-webhook==1.2.3
dill==0.2.8.2
docutils==0.14
duckling==1.8.0
en-core-web-sm==2.0.0
entrypoints==0.3
Flask==1.0.2
future==0.16.0
gast==0.2.1.post0
gensim==3.6.0
gevent==1.2.2
glove-python==0.1.0
google-api-core==1.4.0
google-auth==1.5.1
google-cloud-core==0.28.1
google-cloud-storage==1.12.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
graphviz==0.11.1
greenlet==0.4.15
grpcio==1.15.0
h5py==2.9.0
humanfriendly==4.17
hyperlink==17.3.1
idna==2.7
incremental==17.5.0
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==0.24
jedi==0.13.2
jieba==0.39
Jinja2==2.10
jmespath==0.9.3
JPype1==0.6.2
jsonschema==3.0.0a3
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
klein==17.10.0
lxml==4.2.5
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==2.1.0
mistune==0.8.4
mitie==0.5.0
mkl-fft==1.0.4
mkl-random==1.0.1
mongoengine==0.15.3
msgpack==0.5.6
msgpack-numpy==0.4.3.1
murmurhash==0.28.0
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.3
-e git+https://github.com/Maluuba/nlg-eval@ff1821abb21b0495fd00f35db9d6bb4c969135bb#egg=nlg_eval
nltk==3.3
notebook==5.7.4
numpy==1.16.1
olefile==0.45.1
packaging==17.1
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.2
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.2.0
plac==0.9.6
preshed==2.0.1
prometheus-client==0.5.0
prompt-toolkit==2.0.8
protobuf==3.6.1
ptyprocess==0.6.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.18
Pygments==2.3.1
PyHamcrest==1.9.0
pyltp==0.2.1
pymongo==3.7.1
PyMySQL==0.8.1
pyOpenSSL==18.0.0
pyparsing==2.2.2
pyrsistent==0.14.9
PySocks==1.6.8
python-crfsuite==0.9.6
python-dateutil==2.7.5
pytz==2018.5
PyYAML==5.1.1
pyzmq==17.1.2
qtconsole==4.4.3
regex==2018.1.10
requests==2.20.0
revtok==0.0.3
rmate==1.0.3
rsa==4.0
ruamel.yaml==0.15.78
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.1.0
Send2Trash==1.5.0
simplejson==3.13.2
six==1.12.0
sklearn==0.0
sklearn-crfsuite==0.3.6
smart-open==1.7.1
spacy==2.0.18
tabulate==0.8.2
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
texttable==1.6.2
Theano==1.0.4
thinc==6.12.1
toolz==0.9.0
torch==0.4.1.post2
torchtext==0.4.0
torchvision==0.2.1
tornado==5.1.1
tqdm==4.31.1
traitlets==4.3.2
Twisted==18.9.0
typing==3.6.2
ujson==1.35
unicodecsv==0.14.1
urllib3==1.23
virtualenv==16.3.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wrapt==1.10.11
xlrd==1.1.0
zope.interface==4.6.0
